<!DOCTYPE html>

<html >
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EDUCARE </title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @*<link href="~/Assets/LogIn/css/css2.css" rel="stylesheet" />*@
    <link href="~/Assets/LogIn/core.css" rel="stylesheet" class="template-customizer-core-css" />
    <link href="~/Assets/LogIn/theme-default.css" rel="stylesheet" class="template-customizer-theme-css" />
    <link href="~/Assets/LogIn/demo.css" rel="stylesheet" />
    <script src="~/Assets/LogIn/jquery.js"></script>
    <link href="~/Assets/LogIn/page-auth.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Assets/LogIn/bootstrap.js"></script>
</body>
</html>
