
@*@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold mt-3 mb-3"><span class="cursor-pointer" onclick="history.back()"><i class="fa fa-arrow-left mr-5"></i> Change Password</span></h4>


<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="card col-sm-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label>Current Password</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="Curr_Password" name="Curr_Password" class="form-control" placeholder="Enter Password" />
                            <span id="Curr_pass_eye" class="input-group-text cursor-pointer" onclick="hideshow_pass_CurrPwd()"><i class="bx bx-show"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label>New Password</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="New_Password" name="New_Password" class="form-control" placeholder="Enter Password" />
                            <span id="New_pass_eye" class="input-group-text cursor-pointer" onclick="hideshow_pass_NewPwd()"><i class="bx bx-show"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="Confirm_Password" name="Confirm_Password" class="form-control" placeholder="Enter Password" />
                            <span id="Confirm_pass_eye" class="input-group-text cursor-pointer" onclick="hideshow_pass_ConfirmPwd()"><i class="bx bx-show"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mb-2">
                    <div class="form-group">
                        <div class="form-group float-right">
                            <a type="button" href="/" class=" form-control btn-primary text-center">Save</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<script>
    function hideshow_pass_CurrPwd() {
        var type1 = document.getElementById('Curr_Password').type;
        if (type1 == 'text') {
            $('#Curr_Password').attr('type', 'password');
            $('#Curr_pass_eye').html('<i class="bx bx-show"></i>');
        }
        else {
            $('#Curr_Password').attr('type', 'text');
            $('#Curr_pass_eye').html('<i class="bx bx-hide"></i>');
        }
    }
    function hideshow_pass_NewPwd() {
        var type2 = document.getElementById('New_Password').type;
        if (type2 == 'text') {
            $('#New_Password').attr('type', 'password');
            $('#New_pass_eye').html('<i class="bx bx-show"></i>');
        }
        else {
            $('#New_Password').attr('type', 'text');
            $('#New_pass_eye').html('<i class="bx bx-hide"></i>');
        }
    }
    function hideshow_pass_ConfirmPwd() {
        var type3 = document.getElementById('Confirm_Password').type;
        if (type3 == 'text') {
            $('#Confirm_Password').attr('type', 'password');
            $('#Confirm_pass_eye').html('<i class="bx bx-show"></i>');
        }
        else {
            $('#Confirm_Password').attr('type', 'text');
            $('#Confirm_pass_eye').html('<i class="bx bx-hide"></i>');
        }
    }
</script>*@
