
@*@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" action="/Home/" enctype="multipart/form-data">
    <div class="box box-primary small-card">
        <div class="box-header text-center">
            <h4>Send Mail</h4>
            <hr />
        </div>
        <div class="box-body">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="label-required">To</label>
                        <input id="" name="" type="text" class="form-control" required placeholder="To Email" />
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="label-required">CC</label>
                        <input id="" name="" type="text" class="form-control" required placeholder="Emails" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="label-required">Attachment</label>
                        <input id="" name="" type="file" class="form-control" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="label-required">Body</label>
                        <textarea rows="1" type="text" class="form-control" required placeholder="Body"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="label-required">Subject</label>
                        <textarea id="" name="" type="text" class="form-control" required placeholder="Subject"></textarea>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-default"> Send</button>

        </div>
    </div>
</form>*@

