
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="fw-bold mt-3 mb-3">Dashboard</h4>
<div class="box box-primary">
    <div class="box-body">
        <h2 class="text-primary text-center mb-5 mt-5">Welcome @EduCare.Models.Cookies.GetUsersDetails.Name!</h2>
    </div>
</div>
