@*<div class="card">
    <div class="card-header">
        <h4>Term & Condition </h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    
                    <p style="font-weight:600; margin-bottom:80px!important;">
                        
                    </p>

                    <div class="row">
                        <div class="col-sm-1 ">
                            <div class="form-group btn-group">
                                <input type="checkbox" />
                                <button type="button" class="btn btn-success">Agree & Continue !</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
