
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold"><a href=@Url.Action("Index","Users") class="back-btn"><i class="fa fa-arrow-left"></i> Change Password</a></h4>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="box box-primary" id="ChangePass_Card">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="mb-1">Enter Current Password</label>
                                <div class="input-group">
                                    <input type="password" id="Cpassword" class="form-control" placeholder="Enter Current Password" />
                                    <div class="input-group-addon" id="Pass_eye"><i class="fa fa-eye eye-position cursor-pointer" onclick="hideshow_pass(0, 0)" style="cursor:pointer;"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="mb-1">Enter New Password</label>
                                <div class="input-group">
                                    <input type="password" id="CNew_Pass" class="form-control" placeholder="Enter New Password" />
                                    <div class="input-group-addon" id="NewPass_eye"><i class="fa fa-eye eye-position" onclick="hideshow_pass(0, 1)" style="cursor:pointer;"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="mb-1">Re-Enter New Password</label>
                                <div class="input-group">
                                    <input type="password" id="CNew_RePass" class="form-control" placeholder="Re-Enter New Password" />
                                    <div class="input-group-addon" id="NewRePass_eye"><i class="fa fa-eye eye-position" onclick="hideshow_pass(0, 2)" style="cursor:pointer;"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button class="btn btn-primary form-control" id="cPass_Btn" onclick="ChangePassword()" >SUBMIT</button>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <p class="passMsg"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function ChangePassword() {
        $('.passMsg').html('');
        HideShowSpinner('0');
        var CurrPwd = $('#Cpassword').val();
        var newPwd = $('#CNew_Pass').val();
        var reEnternewPwd = $('#CNew_RePass').val();

        if (CurrPwd == '') {
            $('.passMsg').html('<span class="text-danger">Enter Current Password</span>');
            $('#Cpassword').focus();
            HideShowSpinner('1');
        }
        else if (newPwd == '') {
            $('.passMsg').html('<span class="text-danger">Enter New Password.</span>');
            $('#CNew_Pass').focus();
            HideShowSpinner('1');
        }
        else if (reEnternewPwd == '') {
            $('.passMsg').html('<span class="text-danger">Re-Enter New Password.</span>');
            $('#CNew_RePass').focus();
            HideShowSpinner('1');
        }
        else {
            if (newPwd == reEnternewPwd) {
                $.get('/Users/ChangeUserPassword', { Password: CurrPwd, NewPassword: newPwd }, function (data) {
                    if (data == '1') {
                        $('.passMsg').html(`<span class="text-success">Password has been changed. You'll logged out in 5 seconds.</span>`);
                        setTimeout(function () { $('.passMsg').remove() }, 5000);
                        /*$.get('/LogIn/Index', {}, function (data) { });*/
                    }
                    
                    else if (data == '2') {
                        $('.passMsg').html('<span class="text-danger">Entered Current Password does not match.</span>');
                    }
                    else {
                        SnackMsg('<span class="text-danger">Oops! Network Error. Try Again Later.</span>');
                    }
                    HideShowSpinner('1');
                }).fail(function (data) {
                    $('.passMsg').html('<span class="text-danger">Oops! Network Error. Try Again Later.</span>');
                    HideShowSpinner('1');
                });
            }
            else {
                $('.passMsg').html('<span class="text-danger">New Password and Re-Enter New Password does not match.</span>');
                HideShowSpinner('1');
            }
        }
    }

    function hideshow_pass(way, input) {

        var iconId = '';
        var textId = '';

        if (input == 0) {
            iconId = 'Pass_eye';
            textId = 'Cpassword';
        }
        else if (input == 1) {
            iconId = 'NewPass_eye';
            textId = 'CNew_Pass';
        }
        else if (input == 2) {
            iconId = 'NewRePass_eye';
            textId = 'CNew_RePass';
        }

        if (way == 0) {
            $('#' + iconId).html('<i class = "fa fa-eye-slash " onclick = "hideshow_pass(1,' + input + ')" style="cursor:pointer;"></i>');
            document.getElementById(textId).type = "text";
        }

        else if (way == 1) {
            $('#' + iconId).html('<i class = "fa fa-eye" onclick = "hideshow_pass(0,' + input + ')" style="cursor:pointer;"></i>');
            document.getElementById(textId).type = "password";
        }
    }

    function HideShowSpinner(way) {
        if (way == '0') {
            $('#cPass_Btn').attr("disabled", "disabled");
            $('#cPass_Btn').html('<span class="spinner-border"></span>');
        }
        else if(way == '1'){
            $('#cPass_Btn').html('SUBMIT');
            $('#cPass_Btn').removeAttr("disabled", "disabled");
        }
    }
</script>